/* #region 全体設定 */
:root {
    --primary-background: #0F172A;
    --primary-text: #F8FAFC;

    --secondary-background: #2f3847;
    --secondary-text: #94A3B8;

    --card-background: #20293a83;
}

* {
    box-sizing: border-box;
}
/* #endregion */

/* #region html */
html {
    background-color: var(--primary-background);
    color: var(--primary-text);
}
/* #endregion */

/* #region header */
header {
    text-align: center;
}
/* #endregion */

/* #region footer */
footer {
    text-align: center;
}
/* #endregion*/

/* #region img */
img {
    max-width: 100%;
    height: auto;
}
/* #endregion */

/* #region a */
a {
    color: var(--secondary-text);
    text-decoration: none;
}

a:visited {
    color: var(--secondary-text);
}

a:hover {
    color: var(--primary-text);
}
/* #endregion */

#bg-canvas {
    position: fixed;        /* 画面を基準に固定し、スクロールしても追従させる */
    top: 0;
    left: 0;
    width: 100vw;           /* 画面の幅いっぱいに広げる */
    height: 100vh;          /* 画面の高さいっぱいに広げる */
    z-index: -1;            /* 他の要素より奥（背後）に配置する */
    pointer-events: none;
}